@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Lobster|Margarine');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

#alert, #alert2 {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  left: 30vw;
  top: 2vh;
  color: #fff;
  position: fixed;
  width: 400px;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;

  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #999;
  width: 100%;
  height: 100vh;
  flex: 15;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-bar {
  background: #eee;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;

  flex: 2;
  display: flex;
  justify-content: space-around;
}

.picker {
  text-align: center;
}

#canvas {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
}

#palette {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  border-radius: 50px;
  border: solid 2px #fff;
  margin-bottom: 0.5rem;
}

#palette:hover {
  cursor: url(../img/arrow.cur), crosshair;
}

#picking-color {
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  border: solid 2px white;
  margin-bottom: 0.5rem;
}

#picked-color {
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  border: solid 2px white;
  margin-bottom: 1rem;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left-bar {
  background: #eee;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;

  flex: 1;
  display: flex;
  justify-content: space-around;
}

.pen-tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem 1rem; */
  /* border-radius: 50px; */
  /* border: solid 2px #fff;
  height: 100%; */
}

#brush-size {
  border: solid 2px #404040;
  border-radius: 50px;
  padding: 0.1rem 0;
  font-weight: 600;
}

.tool-scale:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.05s;
}

#dl {
  color: #333;
}

#file {
  visibility: hidden;
  display: none;
}

.font-picker {
  font-weight: 600;
  background: #444;
  color: #fff;
  width: 40px;
  height: 100px;
  border: solid 2px #fff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.font-wraper {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.font-wraper:first-of-type {

}

#font-family::selection, #font-size::selection {
  background: none;
}

#font-family {
  font-size: 1.5rem;
}